html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: lightslategrey;
}

#mainContent {
    margin-top: 74px;
    margin-left: 4vw;
    margin-right: 4vw;
}

/* Common */
.center {
    /* not working xD */
    margin: auto;
}

/* Cookies Consent */
.cookieconsent {
    position: fixed;
    padding: 10px;
    left: 5%;
    bottom: 20px;
    background-color: rgb(1, 1, 1);

    color: #fff;
    text-align: center;
    font-size: x-large;
    height: auto;
    width: 90%;
    z-index: 99999;
}

.cookieconsent button {
    display: block;
    color: #CCCCCC;
    background-color: rgb(31, 31, 31);
    border: 3px solid #4caf50;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    width: 30%;
    margin-left: 35%;
    font-size: 26px;
}

/* nav Bar */
#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#navBar li {
    float: right;
    border-left: 1px solid #bbb;
}

#navBar #logolist {
    float: left;
    border-left: 0px;
    padding: 0px;
}

#navBar li .navBarLink {
    display: block;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
}

#navBar li #logolink {
    padding: 0px;
}

#navBar li .navBarLink:hover {
    background-color: #111;
}

#navBar li #logolink:hover {
    background-color: #333;
}

/* Action Flexbox */
.actionList {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.singleAction {
    margin-left: 3px;
}

.singleAction button {
    color: white;
    height: 5em;
    width: initial;
    padding: 1.5em auto;
    margin: 1em auto;
    background-color: #FEB1C0;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
}

.singleAction button:hover {
    letter-spacing: 0.6em;
    background-color: #F08C99;
}

/* Stats Flexbox */
.statsList {
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.singleStat {
    margin-left: 3px;
    position: relative;
}

/* https://codepen.io/ichoosesunny/pen/YGzRaJ */
.singleStat ul {
    color: rgb(82, 82, 82);
    height: auto;
    width: 38vw;
    padding: 1.5em 1em;
    margin: 1em auto;
    background-color: #FEB1C0;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    list-style-type: none;
    transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
}

.singleStat ul li {
    border-bottom: 1px solid rgb(228, 215, 215);
}

.singleStat ul li:last-child {
    border-bottom: none;
}

.singleStat ul li:after {
    content: '\A';
    position: absolute;
    background: #e96d86;
    top: 1em;
    bottom: 1em;
    left: 0;
    opacity: 70%;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}